# super sales

In [ ]:
# # objective
# 1.overall sales trend
# 2.top 10 product via sales
# 3.most selling product
# 4.most prefferred ship mode
# 5 most profitable category and sub category

In [2]:
# import the library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# import the file

df=pd.read_excel("C:\\Users\hp\Desktop\Data analysis\python\case\Sales-Analysis-master\superstore_sales.xlsx")

In [4]:
# Data audit
# first 5 rows
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium,2011

In [5]:
# last 5 rows
df.tail()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
51285,CA-2014-115427,2014-12-31,2015-01-04,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188,0.890,Medium,2014
51286,MO-2014-2560,2014-12-31,2015-01-05,Standard Class,Liz Preis,Consumer,Souss-Massa-Draâ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",3.990,1,0.0,0.4200,0.490,Medium,2014
51287,MX-2014-110527,2014-12-31,2015-01-02,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.400,3,0.0,12.3600,0.350,Medium,2014
51288,MX-2014-114783,2014-12-31,2015-01-06,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.120,1,0.0,0.5600,0.199,Medium,2014
51289,CA-2014-156720,2014-12-31,2015-01-04,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048,0.170,Medium,2014

In [6]:
# shape of the dataset
df.shape

(51290, 21)

In [7]:
# coloums in the data sets
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [8]:
# summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  float64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 8.2+ MB

In [15]:
# to  check missing value

df.isnull().sum()

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
dtype: int64

In [16]:
# getting describtive summary
df.describe()

,sales,quantity,discount,profit,shipping_cost,year
count,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,246.490581,3.476545,0.142908,28.641740,26.375818,2012.777208
std,487.565361,2.278766,0.212280,174.424113,57.296810,1.098931
min,0.444000,1.000000,0.000000,-6599.978000,0.002000,2011.000000
25%,30.758625,2.000000,0.000000,0.000000,2.610000,2012.000000
50%,85.053000,3.000000,0.000000,9.240000,7.790000,2013.000000
75%,251.053200,5.000000,0.200000,36.810000,24.450000,2014.000000
max,22638.480000,14.000000,0.850000,8399.976000,933.570000,2014.000000

# eda

# 1.what is the overall sales trend

In [ ]:
# find min  date if dataSET

df.order_date.min()

In [ ]:
# find max date
df.order_date.max()

In [ ]:
# new colum for month year and month
df['month_year']=df["order_date"].dt.strftime('%Y/%m')
df['year']=df["order_date"].dt.strftime('%Y')
df

In [ ]:
# sales according to month year
df_month_year=df.groupby("month_year").sum()["sales"].reset_index()
df_month_year.head()

In [ ]:
# graph for trend for year month
plt.plot(df_month_year["month_year"],df_month_year["sales"])

In [ ]:
# sales according to year
df_year=df.groupby("year").sum()["sales"].reset_index()
df_year.head()

In [ ]:
# graph for trend for year
plt.plot(df_year["year"],df_year["sales"])

# 2.top 10 product by sales

In [ ]:
# first check the data again
df.head()

In [ ]:
# select only thr required column
df[["product_name","sales"]]

#grouping product wrt sales

product_sales=pd.DataFrame(df.groupby("product_name").sum()["sales"])
product_sales

In [ ]:
# sorted it in descending order and select top 10 for result
product_sales=product_sales.sort_values("sales",ascending=False)
product_sales[:10]

# 3. which are most selling product

In [ ]:
# columns that are required
df[["product_name","quantity"]]

In [ ]:
#group product wrt quantity
product_quantity=pd.DataFrame(df.groupby("product_name").sum()["quantity"])
product_quantity

In [ ]:
# sort it in desc and show top 10
product_quantity=product_quantity.sort_values("quantity",ascending=False)
product_quantity[:10]

# 4. most preferred ship mode

In [ ]:
# get the required colums

df["ship_mode"]

In [ ]:
# get the count
occurence_of_ship_mode=pd.DataFrame(df["ship_mode"].value_counts())
#selct the top
occurence_of_ship_mode[:1]

# 5. most profitable category and subcategory

In [ ]:
# get the reuired column
df[["category","sub_category","profit"]]

In [ ]:
#group of categoringes wrt profit
preferred_category=pd.DataFrame(df.groupby(["category","sub_category"]).sum()["profit"])
preferred_category=preferred_category.sort_values(["category","profit"], ascending=False)
preferred_category